{% extends "music_app/base.html" %}

{% block content %}
    <h1>Albums sorted by score</h1>
    <ul>
        {% for album in albums %}
            <li>
                <a href="{% url 'music_app:track_list' album_id=album.id %}">
                    {{ album.name }} - {{ album.artist.name }} ({{ album.release_year }}) | {{ album.get_avg_score }}/10
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'music_app:add_album' %}">Add New Album</a></h2>
{% endblock %}