{% extends "music_app/base.html" %}

{% block content %}
    <h1>Albums by {{ artist.name }}</h1>
    <ul>
        {% if albums %}
            {% for album in albums %}
                <li>
                    <a href="{% url 'music_app:track_list' album_id=album.id %}">
                        {{ album.name }} | {{ album.release_year }}
                    </a>
                </li>
            {% endfor %}
        {% else %}
            <li>No albums available for this artist.</li>
        {% endif %}
    </ul>
    <h2><a href="{% url 'music_app:add_album' %}">Add New Album</a></h2>
    
    <h1>Singles by {{ artist.name }}</h1>
    <ul>
        {% if singles %}
            {% for single in singles %}
                <li><a href="{% url 'music_app:track_details' track_id=single.id %}">
                    {{ single.name }} | {{ single.release_year }}
                </a></li>
            {% endfor %}
        {% else %}
            <li>No singles available for this artist.</li>
        {% endif %}
    </ul>
        <h2><a href="{% url 'music_app:add_track' artist_id=artist.id album_id=0 %}">Add New Single</a></h2>
{% endblock %}
