{% extends "music_app/base.html" %}

{% block content %}
    <h1>Artists</h1>
    <ul>
        {% for artist in artists %}
            <li>
                <a href="{% url 'music_app:artist_albums' artist_id=artist.id %}">
                    {{ artist.name }}
                </a>
                {% if user.is_staff %}
                 | 
                <a href="{% url 'music_app:delete_artist' artist_id=artist.id %}">
                Delete Artist
                </a><br>
            {% endif %}
            </li>
        {% endfor %}
    </ul>
    {% if user.is_staff %}
        <h2><a href="{% url 'music_app:add_artist' %}">Add New Artist</a></h2>
        {% endif %}
{% endblock %}