<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music App</title>

</head>
<body>
    <header>
        <h1>Music App</h1>
        <nav>
            <ul>
                <a href="{% url 'music_app:index' %}">Home</a> -
                  {% if user.is_authenticated %}
                    Hello, {{ user.username }}.
                {% else %}
                    <a href="{% url 'accounts:register' %}">Register</a> - 
                    <a href="{% url 'accounts:login' %}">Log in </a>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}

        {% if user.is_authenticated %}
          <hr />
          <form action="{% url 'accounts:logout' %}" method="post">
            {% csrf_token %}
              <button name='submit'>Log out</button>
          </form>
        {% endif %}
    </main>
    <footer>
        <p>&copy; 2023 Music App</p>
    </footer>
</body>
</html>