{% extends "music_app/base.html" %}

{% block content %}
    <h1>Album Information</h1>
    <li>Title: <strong>{{ album.name }}</strong></li><br>
    <li><a href="{% url 'music_app:artist_albums' artist_id=album.artist.id %}">
        Artist: {{ album.artist }}</a></li><br>
    <li>Release year: {{ album.release_year }}</li><br>
    <li>Date added to site: {{ album.date_added }}</li><br>
    <li>Average score: {{ album.get_avg_score }}/10</li>
    
    <h1>Tracks from {{ album.name }} by {{ album.artist.name }}</h1>
    <ul>
        {% for track in tracks %}
            <li>
                <a href="{% url 'music_app:track_details' track_id=track.id %}">
                    <strong>{{ track.name }}</strong> | {{ track.get_length }}<br>
                </a>
            </li>
        {% endfor %}
    </ul>
    <h2><a href="{% url 'music_app:add_track' artist_id=album.artist.id album_id=album.id %}">Add New Track</a></h2>
    <h1>Reviews for {{ album }}</h1>
    <h2><a href="{% url 'music_app:add_review' type='album' obj_id=album.id %}">Review This Album</a></h2>
    <ul>
        {% for review in reviews %}
            <li>
                <strong>{{ review.creator }} | {{ review.rating }}/10</strong><br>
                {{ review.content }}<br>
                {{ review.date_created }}
                {% if review.creator.id == user.id %}
                     | 
                    <a href="{% url 'music_app:edit_review' review.id %}">
                        Edit Review
                    </a>
                {% endif %}

            </li>
        {% endfor %}
    </ul>
{% endblock %}